@import url("font-awesome.min.css");
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}

.sourceCode  {
  word-break: normal;
  word-wrap: normal;
  background-color: #333 !important;
  display: block;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 24px;
}

pre code {
  white-space: inherit;
}

h1 {
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
  font-weight: 700;
  font-size: 8pt;
}
p {
  font-family: 'Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
}

img {
  box-shadow: 0px 3px 10px rgba(0,0,0,.8);
  margin-top: 12px;
  margin-bottom: 24px;
  border-radius: 5px;
}
.book.without-animation .book-summary {
  background: #333;
  width: 250px;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
  color: #fff;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #62cfcf;
}

.book .book-summary ul.summary li.divider {
  background: #4f4f4f;
}

code span.kw {
  color: #ffeead;;
}

code span.st {
  color: #fca369;
}
code span.co {
  color: #92d192;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #62cfcf;
}


	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline !important;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

.logo {
  box-shadow: none;
  align-items: center;
  justify-content: center;
  margin-bottom:5px;
}

li.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
